<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   <!--
       <class name="TestPackage.CommonFeaturesTest"/>
       <class name="TestPackage.RegisterTest"/>
        <class name="TestPackage.LoginTest"/>
        <class name="TestPackage.RegisterDatadrivenTest"/>
     <class name="TestPackage.LoginDataDrivenTest"/>-->
     
   <!-- <class name="TestPackage.ProductTest"/>-->
   <class name="TestPackage.AddtocartTest"/>
  <!-- <class name="TestPackage.CheckoutTest"/>-->
        
        </classes>
  </test> 
</suite> 